#star,#about{
  /*  */
  /* text-align: center; */
  /* background-image: url(https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif); */
}

body{
  background-image: url(https://thumbs.gfycat.com/AdmiredDigitalHarrier-size_restricted.gif);
  margin: auto;

}
#navbar{
  height: 80px;
  background-color: rgba(128,97,140,0.7);
  margin-bottom: 40px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  margin: auto;
  display:block;
  position: sticky;
  top:0;
}
#navbar button{
  padding: 10px,30px;
  font-weight: bold;
  font-size: larger;
  /* margin-top: 500px; */
}
#hand{
  width:60px;
}
#main{
  border-radius:50%;
  border:4px solid rgb(128,97,140);
  margin-left: 100px;
  text-align: center;

}
#low{
  margin: auto;
}
#low div{
  display: flex;
  gap: 100px;
}
#web img{
  height:70px;
}

#star{
    display: flex;
    margin-top: 40px;
}
#main img{
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
h1{
  color: white;
  text-align: center;
}
#about{
  width: 70%;
  /* text-align: center; */
  font-size:30px;
  margin: auto;
}
#edu>div{
  background-color: rgb(128,97,140);
  border-radius:20px;
  width: 60%;
  margin: auto;
  height: 150px;
  margin-top: 20px;
}
#under img{
  border-radius: 50%;
}
#upper{
  margin-left: 500px;
  text-align: center;
  margin-top: 120px;
}
  picture {
    max-width: 100%;
    display: block;
  } 
  #about h1,#edu h1,#skill h1,#project h1,#contact h1{
    margin-left: -600px;
    font-size:50px;
  }
  .read{
    display: flex;
    margin: auto;
  }
  #edu div div {
    margin-left:10px;
  }
  .read>:first-child{
    margin-top:60px;
  }
  #project{
    margin-top: 150px;
    margin: auto;
  }
  #cr{
    margin-left: 350px;
  }
 
  #low button{
    padding: 5px 10px;
    border-radius: 20px;
    margin-left:25%;
    font-size:25px;
    font-weight: bold;
    border: 0ch;
  }
  #low h1{
    font-size:40px;
  }
  button:hover,#web img:hover{
    color: rgb(246, 251, 251);
    background-color:rgb(128,97,140) ;
  }
  span{
    color: rgb(255,200,61);
  }
  #skill{
    
    border-radius: 20px;
    width: 100%;
    
  }
  #skill img{
    width:120px;
    /* border-radius: 50%; */
  }
  #skill div{ 
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap:50px;
    column-gap:-100px;
    text-align: center;
    width: 80%;
    margin-left: 350px;
  }
  #skill ,#contact,#project{
    margin-left: -100px;
  }
  #navbar button{
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    border-color: none;
  }
  #navbar button{
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  
  #contact img{
    width:80px;

  }
  #contact img:hover{
    size:100px ;
  }
  #contact div{
    display: flex;
    gap:50px;
    margin-left:350px;
  }


  #cr{
    width: 100%;
    /* position: relative; */
}
#cr>img{
    width: 100%;
    height: 400px;
    
}
#cr>h1{
    position: absolute;
    margin-top: 10px;
}
#cr>button{
    position: absolute;
    margin-top:13%;
    background-color:rgba(128,97,140,0.3);
    border: 0ch;
    border-radius: 10px;
    padding: 10px 20px;
}
#lbtn{
  left: 10px;
}
#rbtn{
  right: 10px;
}
#demo>div{
  border: 1px solid white;;
  margin-top: 80px;
}
#demo>div,#demo img{
  width: 800px;
  margin: auto;
}
#demo h2{
  margin: auto;
  text-align: center;
}
#demo button{
  margin: auto;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: larger;

}
#demo{
  text-align: center;
}
#main{
  background-image: url(https://img1.picmix.com/output/stamp/normal/5/4/6/5/1755645_3a150.gif);
}
#about div p{
  color: white;
  margin: auto;
  width: 93%;
  text-align: justify;
}
#about div {
  background-color: rgb(128,97,140);
  height:190px;
  border-radius: 20px;
}
h2,h3{
  color: white;
}