body{
  background-color: rgb(48,52,82);
  /* text-align: center; */
}
#navbar{
  height: 60px;
  background-color: rgb(128,97,140);
  margin-bottom: 40px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  margin: auto;
  display:block;
  position: sticky;
  top:0;

}
#navbar button{
  padding: 10px,30px;
  font-weight: bold;
  font-size: larger;
}

#main{
  border-radius: 50%;
  border:4px solid rgb(128,97,140);
  margin-left: 100px;
  text-align: center;

}
#low{
  margin: auto;
}
#low div{
  display: flex;
  gap: 100px;
}
#web img{
  height: 100px;
  border-radius:50%;
}

#low div button{
  width: 240px;
  height:100px;

}
#star{
    display: flex;
    margin-top: 40px;
}
/* p{
  color: azure;
} */
#main img{
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
h1{
  color: rgb(128,97,140);
  text-align: center;
}
#about{
  width: 70%;
  /* text-align: center; */
  font-size:30px;
  margin: auto;
}
#edu>div{
  background-color: rgb(128,97,140);
  border-radius:20px;
  width: 60%;
  margin: auto;
  height: 150px;
  margin-top: 20px;
}
/* #edu div div{
  display: flex;
} */
#under img{
  /* width: 300px;
  height:300px; */
  border-radius: 50%;
}
#upper{
  margin-left: 500px;
  text-align: center;
  margin-top: 120px;
}
.orbit {
    --size: 12rem;
    --speed: 120s;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ul[role=list],
  ol[role=list] {
    list-style: none;
  }
  img,
  picture {
    max-width: 100%;
    display: block;
  } 
  #about h1,#edu h1,#skill h1,#project h1,#contact h1{
    margin-left: -600px;
    font-size:50px;
  }
  .read{
    display: flex;
    margin: auto;
  }
  #edu div div {
    margin-left:10px;
  }
  .read>:first-child{
    margin-top:60px;
  }
  #project{
    margin-top: 150px;
  }
  #low button{
    padding: 10px 30px;
    border-radius: 20px;
    margin-left:25%;
    font-size:25px;
    font-weight: bold;
    border: 0ch;
  }
  button:hover{
    color: rgb(246, 251, 251);
    background-color:rgb(128,97,140) ;
  }
  span{
    color: rgb(255,200,61);
  }
  #skill img{
    width:120px;
    /* border-radius: 50%; */
  }
  #skill div{ 
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap:50px;
    column-gap:-100px;
    text-align: center;
    width: 80%;
    margin-left: 350px;
  }
  #skill ,#contact,#project{
    margin-left: -100px;
  }
  #navbar button{
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    
  }
  
  #contact img{
    width:80px;

  }
  #contact div{
    display: flex;
    gap:50px;
    margin-left:350px;
  }


  #cr{
    width: 100%;
    /* position: relative; */
}
#cr>img{
    width: 100%;
    height: 400px;
    
}
#cr>button{
    position: absolute;
    margin-top:-15%;
    background-color:rgba(228, 214, 214, 0.2);
    border: 0ch;
    border-radius: 10px;
    padding: 10px 20px;
}
#lbtn{
  left: 10px;
}
#rbtn{
  right: 10px;
}