.navbar {
  display: flex;
  padding: 0 24px;
  font-weight: bolder;
}
#head {
  background-color: rgb(128,97,140);
  position: sticky;
  top: 0;
  box-shadow: rgba(116, 145, 173, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  padding: 0px 40px;
  z-index: 100;
}
#head a{
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 05px 10px;
}
#head a:hover{
  color: black;
  border: 1px solid white;
  background-color: white;
}
li {
  list-style: none;
}
/* .nav-item {
  margin: 16px 0;
} */
.hamburger {
  display: none;
  cursor: pointer;
}
