* {
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px; */
  }
  body {
    font-family: Arial, sans-serif;
  }
  nav {
    background: rgb(128,97,140);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    border-radius: 10px;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
    font-weight: bold;
  }
  nav .mainMenu li a:hover {
    background: rgb(255, 255, 255);
    color: rgb(128,97,140);
    border-radius:10px;
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  .fa-github:hover {
    color: rgb(255, 123, 0);
  }
  .fa-linkedin:hover {
    color: rgb(0, 110, 255);
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  @media all and (min-width: 290px) and (max-width: 480px) {
    nav{
        margin-top:-20px;
        width:180%;
    } 
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0);
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }
  @media (max-width: 355px){
    nav{
        margin-top:-20px;
        width:180%;
    } 
}
@media (max-width: 400px){
    #main{
        margin-left:42%;
    } 
}
@media all and (min-width: 481px) and (max-width: 1250px){
  #star{
    width: 90%;
    margin-left:-10%;
  }
  
  #about hr{
    width:50%;
}
/* #star{
  display: block;
  margin: auto;
} */
/* #main,#main img{
height: 300px;
width: 300px;
border-radius: 30%;
} */
/* #main{
margin-top:20%;
margin-left:10%;
height: 310px;
width: 310px;
} */

#low button{
margin-top: 20px;
margin-left:210%;
}
#low h1{
width: 130%;
margin: auto;
margin-left:30%;
margin-top:10px;
}
#about,#edu,#demo,#skill,#contact,#cal{
width:180%;
}
#about h1,#edu h1,#skill h1,#demo h1,#contact h1,#demo >h1,#cal h1{
margin-left: 20px;
font-size:40px;
}
#about div {
background-color:rgb(190, 181, 181);
width:50%;
margin: auto;
height:auto;
border-radius: 20px;
}
#edu{
  width:100%;
  margin-left:40%;
}
#skill{
  width:120%;
margin-left:30%;
}
#skill div{ 
grid-template-columns: repeat(3,1fr);
margin-left: auto;
}

/* #demo div{
width:60%;
margin: auto;
}
#demo img{
width:100%;
/* height:300px; */
} */
#contact{
margin: auto;

}
#contact div{
display: grid;
grid-template-columns: repeat(3,1fr);
}
#cal>div{
width:45%;
background-color:rgb(149, 148, 148);
}

#demo>div{
margin-top:40px;
}
#mobile img{
margin: auto;
}
#mobile>img:last-child,#left{
margin: auto;
margin-top:20px;
margin-bottom:-10px;
margin-left:50%;
width:80%;
}

/* #low{
margin: auto;
margin-left:70%;
} */
#web{
margin:auto;
}